<header class="commentheader">
    <h3>
        Tell us your thought
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </h3>
</header>
<form class="commentform">
    <div class="visitorname">
        <label for="name">
            Name 
            <input id="name" type="text" name="fields[name]" required></input>
        </label>
    </div>

    <div class="visitorcomment">
        <label for="thought">
            Thought 
            <textarea id="thought" rows="5" cols="33" name="fields[message]" required></textarea>
        </label>
    </div>
    <input class="submitbtn" type="submit" value="Submit" />
</form>
