/* 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.4;
    font-family: Arial, Helvertica, sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.grouping:before, .grouping:after {
    content: " ";
    display: table;
}

.grouping:after {
    clear: both;
}

img, iframe, video, object {
    max-width: 100%;
}

strong, b {

    font-weight: bold;

}

html {
    box-sizing: border-box;
}

/********************** END ***********************/


*, *:before, *after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  width: 170px;
  margin: auto;
  /*font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;*/
  text-align: center;
  border-radius: 4px;
  background: #e4e4e4;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -20px;
  left: 70px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #e4e4e4;
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}

li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}


/* demo styles */
/* body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
p, p a { font-size: 12px;text-align: center; color: #888; } */

#right-align {
    text-align: right;
}

#intro-section p {
    font-family: 'geekybat';
    font-weight: normal;
    font-size: 2vw;
    margin-bottom: 20px;
}


#intro-section {
    margin: auto;
    width: 78.125%; /* 960/750 */
    padding: 20px;
}

pre {
    display:inline-block;
    text-align:center;
    font-family:monospace;
    letter-spacing:6.5px;
    line-height:13px;
    font-size:13px;
    font-weight: bold;
}

main {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
    border: 1px solid #f7f8fd;
    border-top: 0px;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 0px;
}


footer {
    margin: 0 auto;
    max-width: 960px;
    margin-bottom: 30px;
    width: 90%;
}

nav li a {
    font-family: 'geekybat';
    color: black;
    font-size: 1.39vw;
    border-bottom: 1px solid #cacaca;
    text-align: center;
}

nav li a:focus,
nav li a:hover,
nav li a:active {
    background-color: grey;
    color: white;
}

.article-header {
    margin-bottom: 50px;
}

.article-footer {
    margin-bottom: 50px;
}

.article-footer h1 {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 1
}

.article-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 15px;
}

.article-content {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5;
}

.article-meta {
    font-size: 14px;
    color: #828282;
}

.blog-article {
/*    margin-bottom: 10px; */
    padding: 2.083333333%;
/*    background-color: #fdfdfd; */
/*    margin-top:50px; */
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 2vw;
}

.blog-article a {
    text-decoration: none;
    color: #2386a5;
}

.date-section {
    color: #a5a9ab;
}

.hr {
    height: 1px;
    margin: 3.33333% 0; /* 32/960px */
    background: linear-gradient(to right, white, #E1E1E1, white);
    background-image: linear-gradient(to right, white, rgb(225, 225, 225), white);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.footer-link {
    text-align: center;
    padding: 20px;
}

.footer-link a {
    color: #2386a5;
    font-size: 2.5vw;
}

.copyright {
    text-align: center;
    font-size: 0.5vw;
}

.article {
    padding-bottom: 5px;
}

.main-section {
    padding-top: 1.041666666%; /* 10/960 */
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px
}

.navigation {
    margin: 15px auto;
    float: right;
}

.navigation li {
    float: left;
}

.navigation li a {
    padding: 10px;
    float: left;
    border: 1px solid grey;
    text-decoration: none;
}

#nav-section {
    float: left;
    margin-left: 45px;
}

#cat-section {
    float: right;
    margin-right: 30px;
    margin-top: 200px;
    width: 200px;
    height: 100px;
    border: 1px solid grey;
}

.current {
    background-color: grey;
    color: white;
}

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
    font-family: 'geekybat';
    font-style: normal;
    font-weight: normal;
    src: url('batmfa__.woff') format('woff');
}

@media screen and (min-width: 1023px) {
    .footer-link a {
        color: #2386a5;
        font-size: 1.3vw;
    }

    .copyright {
        text-align: center;
        font-size: 1.5vw;
    }

    #intro-section p {
        font-family: 'geekybat';
        font-weight: normal;
        font-size: 1vw;
        margin-bottom: 20px;
    }
}
