<!doctype html>

<html>

    {% include default-head.html %}

    <body>    

        <main class="wrapper">

            {% include default-header.html %}

            {% include default-navigation.html %}

            <section class="main-section">

                <article class="blog-article">
                    <header class="article-header">
                        <h3 class="article-title">{{ page.title }}</h1>
                        <p class="article-meta">{{ page.date | date_to_string }}</p>
                    </header>

                    <div class="article-content">

                        {{ content }}

                    </div>
                
                    <footer class="article-footer">
                        
                    </footer>
                </article>

            </section>

            <section class="comment-section">
                {% include comment-section.html %}
            </section>

            {% include default-footer.html %}

        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"><script>
        <script src="{{ site.baseurl }}/assets/js/script.js"></script>

    </body>

</html>
